body {
  font-size: 58px;
}

input {
  font-size: 58px;
  margin: 30px 5px;
  padding: 10px 10px;
}

p {
  margin: 0px 5px;
}

td {
  display: table-cell;
}

.upload-file {
  width: 99%;
}

.upload-btn {
}

.upload-converted {
  margin: 0px 20px;
  width: 50px;
  height: 50px;
}

.converted-level {
  display: inline-block;
  margin: 30px 5px;
  padding: 10px 10px;
}

.upload-result {
  display:block;
  padding: 30px 10px;
  word-wrap:break-word;
}

.tb-width {
  table-layout:fixed;
  width: 80%;
}

.tb {
  margin: 5 auto;
}

.tb-item {
  background-color: #ffdab9;
}