body {
  font-size: 1.5rem; /* Adjusted to a more reasonable size */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

input[type="file"] {
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

td {
  display: table-cell;
}

.upload-file {
  width: 100%;
}

.upload-btn {
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.upload-converted {
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
}

.converted-level {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.5rem;
}

.upload-result {
  display: block;
  padding: 1rem 0.5rem;
  word-wrap: break-word;
}

.tb-width {
  table-layout: fixed;
  width: 80%;
}

.filename {
  display: inline-block;
  overflow-wrap: anywhere;
}

.tb {
  margin: 1rem 0.5rem;
  overflow-x: auto;
}

.tb-item {
  background-color: #ffdab9;
  padding: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

/* Add media queries for smaller screens */
@media (max-width: 1000px) {
  body {
      font-size: 2.3rem;
  }

  form {
      max-width: 95%;
      padding: 2rem 1.5rem;
      min-height: 600px;
  }

  table {
      font-size: 2.3rem;
  }

  .tb-item {
      padding: 2rem;
  }

  input[type="file"],
  .upload-btn {
      font-size: 2.3rem;
  }

  .tb {
      overflow-x: scroll;
  }
}